body {
  background-color: #e8d6ff;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  color: white;
  font-size: 200px;
  text-align: center;
  letter-spacing: 15px;
  text-decoration: line-through;
  margin: 30px;

}

input {
  width: 300px;
  height: 300px;
  margin: 100px;
  float: right;
  transform: rotate(30deg);
  font-size: 30px;
  letter-spacing: 6px;
  border: none;
  font-family: 'Roboto Mono', monospace;
}


ul {
  margin: 50px;
  font-size: 30px;
  letter-spacing: 6px;
  color: white;

}

li {
/*  list-style-type: square;*/
  list-style-type: none;
}

span {
  background: blue;
  margin: 10px;
  padding: 6px;
}

.complete {
  text-decoration: line-through;
}




/*STYLE 1

body {
  background:  #BB84BB;
  font-family: 'Space Mono', monospace;
}

h1 {
  color: white;
  font-size: 250px;
}

input {
  width: 300px;
  height: 300px;
  margin: 0px 150px 150px 150px;
  float: right;
  transform: rotate(30deg);
  font-size: 30px;
  letter-spacing: 6px;
  font-family: 'Space Mono', monospace;
}


ul {
  margin: 50px;
  font-size: 30px;
  letter-spacing: 6px;
  color: white;

}

li {
  list-style-type: square;
}

*/
