body {
  background: #fffbb2;
  font-family: sans-serif;
  color: #4c4c4c;
}

input {
  height:50px;
  width: 250px;
  display:block;
  font-size:30px;
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
  color: #4c4c4c;
}

.todos {
  margin: 0 auto;
  margin-top: 75px;
  font-size: 25px;
  width: 450px;
  list-style:none;
}

li {
  /*margin-bottom: 20px;*/
  padding: 15px;
  margin-bottom: -2px;
  border: 2px solid;
  border-color:#7c8395;
  word-wrap: break-word;
  background-color: #f7f7f7;
}

li:hover {
  cursor: pointer;
  color: #ef4040;
  background-color: #d1e2fc;
}

li:active {
  background-color: #e5e5e5;
}

.complete {
  text-decoration: line-through;
}

span {
  color:#ef4040;
  float: right;
  padding: 0 5px 0 5px;
  border: 2px outset;
  border-radius: 15%;
}

span:hover {
  background-color: #ef4040;
  color: white;
  /*border-color: #282e34;*/
  border-radius: 15%;
}

span:active {
  background-color: #ef4040;
  color: white;
  /*border-color: #282e34;*/
  border: 2px inset;
  border-radius: 15%;
}


