body {
  background-color: grey;
  background: url("http://i.imgur.com/Lb3tUu7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;

}

.complete {
  text-decoration: line-through;
}

.notComplete {
  text-decoration: none;
}

.important {
  background-color: rgba(255,255,0,0.75);
}

input {
  margin: 0 auto;
  display: block;
}

h2 {
  text-align: center;
  /*border: 2px solid black;*/
  margin: 25px 10px 25px 10px;
}

li {
  margin: 5px 5px;
  /*border: 2px solid black;*/
  border-radius: 15%;
  display: inline-block;
  padding: 2px;
}

ul {
  margin: 25px auto;
  /*border: 1px solid white; */
  padding: 5px;
  border-radius: 15px;
  display: block;
  width: 300px;
  background-color: rgba(32,32,32,.75);
}

h5 {
  margin: 15px 15px;
  text-decoration: underline;
  /*border: 2px solid black;*/
}

input {
  margin: 15px 15px;
}
